<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list">
  <div class="container">
    <div class="card">
      <div class="card-header">
        상품 상세정보
      </div>

      <ul class="list-group list-group-flush gap-2">
        <li class="list-group-item">
          <img class="w-full max-w-[300px]" th:src="@{|/gen/${product.thumbnailImg}}" alt="상품이미지">
        </li>
        <li class="list-group-item">
          <span class="font-bold">번호 : </span>
          <span class="badge bg-primary" th:text="${product.id}">1234</span>
        </li>
        <li class="list-group-item">
          <span class="font-bold"
                th:text="'등록날짜 : ' + ${#temporals.format(product.createDate, 'yyyy-MM-dd HH:mm')}"></span>
        </li>
        <li class="list-group-item">
          <span class="font-bold" th:text="'수정날짜 : ' + ${#temporals.format(product.modifyDate, 'yyyy-MM-dd HH:mm')}">2024-07-08</span>
        </li>
        <li class="list-group-item">
          <span class="font-bold" th:text="'상품명 : ' + ${product.title}"></span>
        </li>
        <li class="list-group-item">
          <span class="font-bold" th:text="'상품설명 : ' + ${product.description}"></span>
        </li>
        <li class="list-group-item">
          <span class="font-bold" th:text="'가격 : ' + ${product.price}"></span>원
        </li>
        <li class="list-group-item">
          <span class="font-bold">마켓 : </span>
          <span class="badge bg-primary">cod</span>
        </li>
      </ul>
    </div>

    <div class="card mt-[30px]">
      <div class="card-header">
        장바구니 담기 & 결제
      </div>
      <div class="card-body">
        <form th:action="@{|/cart/add/${product.id}}" method="POST">
          <input type="submit" value="장바구니 담기" class="btn btn-outline-dark">
        </form>
        <buttom onclick="pay();" class="btn btn-outline-dark mt-[5px]">결제</buttom>
      </div>
    </div>



    <div class="card mt-[30px]">
      <div class="card-header">
        질문등록
      </div>
      <div class="card-body">
        <form sec:authorize="isAuthenticated()" th:action="@{|/question/create/${product.id}|}" method="POST">
          <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea type="text" name="content" id="content" class="form-control" row="7"></textarea>
          </div>
          <input type="submit" value="등록하기" class="btn btn-primary">
        </form>
        <div sec:authorize="isAnonymous()">
          <a th:href="@{/member/login}">로그인</a> 후 이용해주세요.
        </div>
      </div>
    </div>
    <div class="card mt-[30px]">
      <div class="card-header">
        질문 리스트
      </div>
      <ul th:if="${#lists.size(product.questionList) > 0}" class="list-group list-group-flush gap-2 card-body">
        <li th:each="question, loop : ${product.questionList}" class="list-group-item">
          <span th:text="${question.id}" class="badge bg-secondary"></span>
          <span th:text="${question.content}" class="badge bg-secondary"></span>

          <a
              sec:authorize="isAuthenticated()"
              th:if="${question.member != null and #authentication.getPrincipal().getUsername() == question.member.username}"
              th:href="@{|/question/modify/${question.id}|}"
              class="btn btn-outline-info btn-sm">수정</a>
          <a
              sec:authorize="isAuthenticated()"
              th:if="${question.member != null and #authentication.getPrincipal().getUsername() == question.member.username}"
              th:href="@{|/question/delete/${question.id}}"
              onclick="if ( confirm('정말 삭제하시겠습니까?') == false ) return false;"
              class="btn btn-outline-info btn-sm">삭제</a>
        </li>
      </ul>
      <ul th:unless="${#lists.size(product.questionList) > 0}" class="card-body">
        <div>
          질문이 아직 없습니다.
        </div>
      </ul>
      <script>
        $(document).ready(function() {
            $(window).on('beforeunload', function() {
                sessionStorage.setItem('scrollPosition', $(window).scrollTop());
            });

            if (sessionStorage.getItem('scrollPosition')) {
                $(window).scrollTop(sessionStorage.getItem('scrollPosition'));
                sessionStorage.removeItem('scrollPosition');
            }
        });
      </script>
    </div>
  </div>

  <script src="https://js.tosspayments.com/v1"></script>
  <script th:inline="javascript">
    let amount = /*[[ ${product.price} ]]*/;
    let orderName = /*[[ ${product.title} ]]*/;
    let tossPayments = TossPayments("test_ck_jExPeJWYVQ4bpZdMvy0n349R5gvN"); //테스트 클라이언트키
    let path = "/";
    let successUrl = window.location.origin + path + "success";
    let failUrl = window.location.origin + path + "fail";
    let callbackUrl = window.location.origin + path + "va_callback";
    let orderId = new Date().getTime();

    function pay() {
      const method = "카드";
      const requestJson = {
        amount: amount,
        orderId: "sample-" + orderId,
        orderName: orderName,
        successUrl: successUrl,
        failUrl: failUrl,
        cardCompany: null,
        cardInstallmentPlan: null,
        maxCardInstallmentPlan: null,
        useCardPoint: false,
        customerName: "박토스",
        customerEmail: null,
        customerMobilePhone: null,
        taxFreeAmount: null,
        useInternationalCardOnly: false,
        flowMode: "DEFAULT",
        discountCode: null,
        appScheme: null,
      }
      tossPayments.requestPayment(method, requestJson)
    }


  </script>
</section>
</html>