<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list">
  <div class="container">
    <div class="card">
      <div class="card-header">
        상품 상세정보
      </div>

      <ul class="list-group list-group-flush gap-2">
        <li class="list-group-item">
          <img class="w-full max-w-[300px]" src="https://i.imgur.com/PVsCFy1.png" alt="">
        </li>
        <li class="list-group-item">
          <span>번호 : </span>
          <span class="badge bg-primary" th:text="${question.product.id}">1234</span>
        </li>
        <li class="list-group-item">
          <span class="font-bold" th:text="'등록날짜 : ' + ${#temporals.format(question.product.createDate, 'yyyy-MM-dd')}"></span>
        </li>
        <li class="list-group-item">
          <span class="font-bold" th:text="'등록날짜 : ' +  ${#temporals.format(question.product.modifyDate, 'yyyy-MM-dd')}">2024-07-08</span>
        </li>
        <li class="list-group-item">
          <span>상품명 : </span>
          <span class="font-bold" th:text="${question.product.title}"></span>
        </li>
        <li class="list-group-item">
          <span>가격 : </span>
          <span class="font-bold" th:text="${question.product.price}"></span>원
        </li>
        <li class="list-group-item">
          <span>마켓 : </span>
          <span class="badge bg-primary">cod</span>
        </li>
      </ul>
    </div>
    <div class="card mt-[30px]">
      <div class="card-header">
        질문수정
      </div>
      <div class="card-body">
        <form th:action="@{|/question/modify/${question.product.id}|}" method="POST">
          <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:text="${question.content}" name="content" id="content" class="form-control" row="7"></textarea>
          </div>
          <input type="submit" value="질문수정" class="btn btn-primary">
          <a th:href="@{|/product/detail/${question.product.id}|}" class="btn btn-primary ml-2">취소</a>
        </form>
        <script>
          let $lastForm = $('form').last();
          $(window).on('load', function() {
            $(window).scrollTop($lastForm.offset().top);
          });
        </script>
      </div>
    </div>
  </div>
</section>
</html>