<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="flex-1 section-cart-item-list">
  <div class="container">
    <h1 class="text-[1.5rem] font-bold flex justify-center pt-5 pb-5">장바구니</h1>

    <div class="mt-10 ">
      <table class="table table-hover">
        <thead>
        <tr class="align-middle whitespace-nowrap">
          <th><input type="checkbox" class="form-check-input" name="checkAll"></th>
          <th>이미지</th>
          <th>상품명</th>
          <th>가격</th>
          <th>구매/삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr th:each="cartItem : ${cartList}" class="align-middle whitespace-nowrap">
          <td><input type="checkbox" class="form-check-input chkbox"></td>
          <td>
            <img class="w-[50px] h-[50px] sm:w-[100px] sm:h-[100px] object-fit:cover"
                 th:src="@{|/gen/${cartItem.product.thumbnailImg}|}" alt="이미지가 존재하지 않습니다.">
          </td>
          <td th:text="${cartItem.product.title}"></td>
          <td th:text="${cartItem.product.price}"></td>
          <td>
            <a href="#" type="button" class="btn btn-link">구매</a>
            <a href="#" type="button" class="btn btn-link">삭제</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script layout:frgment="script" type="text/javascript">
    $("input[name=checkAll]").click(function(){
    if(  $(this).is(":checked") === true)
    $(".cart").prop("checked", true);
    else
    $(".chkbox").prop("checked", false);
    });
  </script>
</section>
</html>
